spring:
    profiles:
        active:
         - dev
---
spring:
    profiles: dev
    application:
        name: cloud-config-sk-dev
---
spring:
    profiles: test
    application:
        name: cloud-config-sk-test




